body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(purple, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("willandunclephil.gif");
}

#gift-img-hot:hover {
    background-image: url("hot2.gif");
    background-position: center;
}

#gift-img-brilliant:hover {
    background-image: url("brilliant.gif");
}

#gift-img-awesome:hover {
    background-image: url("awesome2.gif");
    background-size: 50%;
    
    
}

#gift-img-cheers:hover {
    animation-name: happy-birthday;
    animation-delay: 0s;
    animation-duration: 15s;
    animation-iteration-count: 1; 
   
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
@keyframes happy-birthday {
  0% {background-image: url("cheers2.webp");}
  60% {background-image: url("happybirthday.webp");}
  
}
/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/
